* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-family: $copyFont;
  font-size: 0.9rem;

  @media (min-width: 768px){
    font-size: 1rem;
  }
}

main {
  @media (min-width: 768px){
    padding-top: 62px;
  }
}