.material-page {
  &__title {
    text-align: center;
    font-family: $titleFont;
    font-size: 4rem;
    margin: 20px 0;
  }

  &__image {
    height: 300px;
    background-size: cover;
    background-position: center center;
  }

  &__information {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;

    svg {
      height: 30px;
      width: 30px;
      margin-bottom: 10px;
      fill: $color-secondary;
    }

    h2 {
      font-family: $titleFont;
    }
  }

  //Form Styles
  &__enquiry {
    color: $color-tertiary;
    background-color: $color-primary;
    max-width: 768px;
    padding: 20px;
    margin: 0 auto 40px;
  }

  &__enquiry-title {
    font-family: $copyFont;
    color: $color-tertiary;
    margin-bottom: 20px;
  }

  &__add-dimension {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    label {
      margin: 0 10px 0 0;
    }

    .input-group {
      border-radius: 0.25rem;
      overflow: hidden;
      width: auto;
      margin-right: 20px;

      input {
        padding: 0 5px;
      }
    }
  }

  &__added-dimension {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 10px;
    border: none;
  }

  &__submit-dimension,
  &__delete-dimension {
    background-color: #b2904d !important;
    border-color: #b2904d !important;
  }

  &__form-submit {
    background-color: $color-secondary !important;
    border-color: $color-secondary !important;

    &:hover {
      background-color: $color-secondary-50 !important;
    }
  }
}
