//Fonts
$titleFont: "Bebas Neue", cursive;
$copyFont: "Open Sans", sans-serif;

//Colors
$color-primary: #18232d;
$color-primary-90: rgba($color-primary, 0.9);
$color-secondary: #b2904d;
$color-secondary-50: rgba(#b2904d, 0.5);
$color-tertiary: #fcfcfc;

//Breakpoints
$mobile: 320px;
$phablet: 544px;
$tablet: 768px;
$laptop: 990px;
$desktop: 1200px;
